body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  margin: 0;
  width: 100%;
}

.profile-image {
  border-radius: 50%;
  margin: 0;
}

a {
  color: black;
}

a:hover {
  color: #666;
  text-decoration: underline !important;
}

nav {
  margin-top: 25px;
  text-align: center; /* Center the nav inside its parent */
}

nav h1 {
  margin-bottom:10px;
}

nav ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  display: flex; /* Make the list horizontal */
  justify-content: center; /* Center the items horizontally */
}

ul {
  list-style-type: none;
}

ul li {
  margin-bottom: 1rem;
}

nav ul li {
  display: block; /* Make each item block-level */
  margin: 0 25px; /* 50px space between each item (25px on each side) */
}

nav ul li a {
  text-decoration: none; /* Remove underline from links */
  color: black; /* Set link color */
  padding: 10px; /* Add padding around the text */
}

.container {
  margin: auto;
  width:800px;
  margin-top:50px;
}

.home-container {
  display: flex;              /* Make the container a flexbox */
  justify-content: space-between;  /* Distribute space between the two divs */
  align-items: stretch;       /* Make both divs the same height */
}

.home-container > div {
  padding: 20px;              /* Optional: Add some padding to the inner divs */
}

.home-container > div:first-child {
  flex: 0 0 40%;              /* First div takes 40% of the width */
  display: flex;              /* Make this div a flexbox */
  justify-content: center;    /* Horizontally center the content within this div */
  align-items: center;        /* Vertically center the content (image) */
}

.home-container > div:last-child {
  flex: 0 0 60%;              /* Second div takes 60% of the width */
}

.profile-image {
  max-width: 100%;            /* Ensure the image does not overflow its container */
  height: auto;               /* Maintain aspect ratio of the image */
}
